@font-face {
     font-family: "TTLakesRegular";
     src: url('../fonts/TTLikes/TTLakes-Regular.woff') format("woff");
     font-display: swap;
}
@font-face {
    font-family: 'TTLakesBold';
     src:   url('../fonts/TTLikes/TTLakes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family:'TTLakesMedium';
    src: url('../fonts/TTLikes/TTLakes-Medium.woff');
}